<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="../../../assets/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/icon_shopping_cart.svg" alt="icon">
    </a>
  </div>
  <div class="side-menu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronicos</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronicos</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">yuvisa.palomino@gmail.com</div>
      <div>
        <a href="">
          <img src="../../../assets/icon_shopping_cart.svg" alt="icon">
        </a>
        <span class="counter">{{counter}}</span>
      </div>
    </div>
  </div>
</div>
